<div class="container" ng-show="requestCtrl.isNew">
  <div class="row">
    <div ng-show="requestCtrl.isCreated === 'success'" class="alert alert-success" role="alert">
      <strong>新增成功</strong>
    </div>
    <div ng-show="requestCtrl.isCreated === 'fail'" class="alert alert-danger" role="alert">
      <strong>新增失敗</strong>
    </div>
    <form name="reqForm" novalidate>
      <h1 class="padding-down">新增需求</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">基本資訊</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="title">團名</label>
                <input class="form-control" name="title" type="text" 
                      ng-model="requestCtrl.newPkg.title" placeholder="請輸入團名"
                      required>
              </div>
              <div class="form-group">
                <label for="people">人數</label>
                <input class="form-control" name="people" type="text" placeholder="團員人數"
                       ng-model="requestCtrl.newPkg.peopleNote" required>
                <span class="help-block">例：30名＋1T/C</span>
              </div>
              <div class="form-group">
                <label for="serialNo">旅行團編號</label>
                <input class="form-control" name="serialNo" type="text" placeholder="請輸入編號"
                       ng-model="requestCtrl.newPkg.serialNo" required>
              </div>
              <div class="form-group">
                <label for="start_date">開始日期</label>
                <div class="input-group">
                  <input type="text" class="form-control"
                  id="start_date" name="start_date"
                  uib-datepicker-popup="yyyy-MM-dd"
                  show-button-bar="false"
                  ng-model="requestCtrl.newPkg.startsOn"
                  max-date="requestCtrl.timeOption.max"
                  is-open="requestCtrl.startOpened" close-text="Close" 
                  readonly required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                    ng-click="requestCtrl.startOpen($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="end_date">結束日期</label>
                <div class="input-group">
                  <input type="text" class="form-control"
                  id="end_date" name="end_date"
                  uib-datepicker-popup="yyyy-MM-dd"
                  show-button-bar="false"
                  ng-model="requestCtrl.newPkg.endsOn"
                  max-date="requestCtrl.timeOption.max"
                  is-open="requestCtrl.endOpened" close-text="Close" 
                  readonly required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                    ng-click="requestCtrl.endOpen($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="description">詳細內容</label>
                <textarea id="description" class="form-control" rows="15" ng-model="requestCtrl.tourPackage.description" required></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">住宿</h3>
        </div>
        <div class="panel-body">
          <table class="table git-table">
            <tr>
              <th>飯店</th>
              <th>入住日期</th>
              <th>退房日期</th>
              <th>房型</th>
              <th>數量</th>
            </tr>
            <tr ng-repeat="acco in requestCtrl.newAccommodation">
              <td>{{acco.hotelName}}</td>
              <td>{{acco.checkinAt}}</td>
              <td>{{acco.checkoutAt}}</td>
              <td>{{acco.roomType}}</td>
              <td>{{acco.quantity}}</td>
            </tr>
          </table>
          <button class="btn btn-success" ng-click="requestCtrl.addAccommodation()">
            <span class="glyphicon glyphicon-plus"></span> 新增住宿
          </button>
          <span class="help-block">若無法確定房型，可以直接於上方詳細內容輸入</span>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-default" ng-click="requestCtrl.stateGo('requests')">取消</button>
        <button class="btn btn-primary" ng-click="requestCtrl.confirm()" 
                ng-disabled="!reqForm.$valid" >確認</button>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid" ng-show="!requestCtrl.isNew">
  <div class="row">
    <div class="hidden-xs col-sm-3 col-md-3 chatroom scrollable">
      <button class="btn-tab"
              ng-show="requestCtrl.editable"
              ng-class="{'btn-tab-chosen': requestCtrl.channel === 'Taiwan'}"
              ng-click="requestCtrl.switchChannel('Taiwan')">台方討論</button>
      <button class="btn-tab"
              ng-show="requestCtrl.editable"
              ng-class="{'btn-tab-chosen': requestCtrl.channel === 'Japan'}"
              ng-click="requestCtrl.switchChannel('Japan')">日方討論</button>
      <hr ng-show="requestCtrl.editable">
      <div class="btn-tab" ng-show="!requestCtrl.editable">
        <h3>行程討論</h3>
      </div>
      <div ng-show="requestCtrl.channel === 'Taiwan'">
        <p ng-show="requestCtrl.taiwanLogs < 1" class="text-center">
          目前沒有任何留言唷！
        </p>
        <div ng-repeat="com in requestCtrl.taiwanLogs">
          <p><span>{{com.id}}:</span><span class="pull-right">{{com.timestamp}}</span></p>
          <p class="comment">{{com.comment}}</p>
        </div>
        <div class="form-group">
          <label for="comment">留言</label>
          <textarea class="form-control" rows="2" id="comment" ng-model="requestCtrl.newComment"></textarea>
        </div>
        <button class="btn btn-success" ng-click="requestCtrl.leaveComment('Taiwan')">送出</button>
      </div>
      <div ng-show="requestCtrl.channel === 'Japan'">
        <p ng-show="requestCtrl.japanLogs < 1" class="text-center">
          目前沒有任何留言唷！
        </p>
        <div ng-repeat="com in requestCtrl.japanLogs">
          <p><span>{{com.id}}:</span><span class="pull-right">{{com.timestamp}}</span></p>
          <p class="comment">{{com.comment}}</p>
        </div>
        <div class="form-group">
          <label for="comment">留言</label>
          <textarea class="form-control" rows="2" id="comment" ng-model="requestCtrl.newComment"></textarea>
        </div>
        <button class="btn btn-success" ng-click="requestCtrl.leaveComment('Japan')">送出</button>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 scrollable">
      <h1 ng-show="!requestCtrl.pkgEditable">
        {{requestCtrl.tourPackage.title}}
        <small>{{requestCtrl.tourPackage.startsOn}}～{{requestCtrl.tourPackage.endsOn}}</small>
        <button class="btn btn-primary pull-right" ng-click="requestCtrl.onEditPkg()"
                ng-show="requestCtrl.editable">編輯</button>
      </h1>
      <h5 ng-show="!requestCtrl.pkgEditable">{{requestCtrl.tourPackage.serialNo}}</h5>
      <h3 ng-show="!requestCtrl.pkgEditable">人數：{{requestCtrl.tourPackage.peopleNote}}</h3>
      <div ng-show="requestCtrl.pkgEditable">
        <h3>
          團名：<input type="text" class="form-control" ng-model="requestCtrl.tempPkg.title">
        </h3>
        <h3>
          旅行團編號：<input type="text" class="form-control" ng-model="requestCtrl.tempPkg.serialNo">
        </h3>
        <h3>
          人數：<input type="text" class="form-control" ng-model="requestCtrl.tempPkg.peopleNote">
        </h3>
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-ok" ng-click="requestCtrl.submitPkg()"></span>
        </button>
        <button class="btn btn-danger" ng-click="requestCtrl.cancelEditPkg()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <hr>
      <div class="card" ng-show="!!requestCtrl.tourPackage.description">
        <div class="card-header" role="tab" id="headingOne">
          <h3 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              詳細內容&nbsp;<small><span class="glyphicon glyphicon-triangle-bottom"></span></small>
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            {{requestCtrl.tourPackage.description}}
          </div>
        </div>
      </div>
      <hr ng-show="!!requestCtrl.tourPackage.description">
      <div>
        <h3>住宿</h3>
        <table class="table git-table">
          <tr>
            <th>入住日期</th>
            <th>退房日期</th>
            <th>飯店</th>
            <th>房型</th>
            <th>數量</th>
            <th ng-show="requestCtrl.editable"></th>
          </tr>
          <tr ng-repeat="acco in requestCtrl.tourPackage.accommodations track by $index">
            <td>{{acco.checkinAt}}</td>
            <td>{{acco.checkoutAt}}</td>
            <td>{{acco.room.hotel.name}}</td>
            <td>{{acco.room.type}}</td>
            <td>{{acco.quantity}}</td>
            <td ng-show="requestCtrl.editable">
              <a href ng-click="requestCtrl.removeAccommodation(acco.requestId, acco.id)">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          <tr ng-show="requestCtrl.editable">
            <td>
              <a ui-sref="request.hotels">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <hr>
      <h3>其它費用</h3>
      <table class="table git-table" ng-show="requestCtrl.fee.length > 0">
        <tr>
          <th>項目</th>
          <th>金額</th>
        </tr>
        <tr ng-repeat="item in requestCtrl.fee track by $index">
          <td>{{item.title}}</td>
          <td>{{item.amount}}</td>
        </tr>
      </table>
      <a href ng-show="!requestCtrl.feeInputVisible && requestCtrl.editable" ng-click="requestCtrl.showFeeInput()">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
      <div ng-show="requestCtrl.feeInputVisible">
        <form class="form-inline padding-down">
          項目&nbsp;&nbsp;
          <input type="text" class="form-control" ng-model="requestCtrl.feeInput.title">
          &nbsp;金額&nbsp;&nbsp;
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" ng-model="requestCtrl.feeInput.amount" aria-label="Amount (to the nearest dollar)">
          </div>
        </form>
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-ok" ng-click="requestCtrl.submitFee()"></span>
        </button>
        <button class="btn btn-danger" ng-click="requestCtrl.cancelAddFee()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>
</div>
