<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3">
      <button class="btn btn-default btn-tab"
              ng-show="discuss.editable"
              ng-class="{'btn-info': discuss.channel === 'Taiwan'}"
              ng-click="discuss.switchChannel('Taiwan')">台方討論</button>
      <button class="btn btn-default btn-tab"
              ng-show="discuss.editable"
              ng-class="{'btn-info': discuss.channel === 'Japan'}"
              ng-click="discuss.switchChannel('Japan')">日方討論</button>
      <div class="well scrollable" ng-show="discuss.channel === 'Taiwan'">
        <p ng-show="discuss.conversation < 1" class="text-center">
          目前沒有任何留言唷！
        </p>
        <div ng-repeat="com in discuss.conversation">
          <span>{{com.id}}:</span><br>
          <span>{{com.comment}}</span>
          <p class="text-right">{{com.timestamp}}</p>
        </div>
        <div class="form-group">
          <label for="comment">留言</label>
          <textarea class="form-control" rows="2" id="comment" ng-model="discuss.newComment"></textarea>
        </div>
        <button class="btn btn-success" ng-click="discuss.leaveComment()">送出</button>
      </div>
      <div class="well scrollable" ng-show="discuss.channel === 'Japan'">
        <p ng-show="discuss.conversation < 1" class="text-center">
          目前沒有任何留言唷！
        </p>
        <!-- <div ng-repeat="com in discuss.conversation">
          <span>{{com.id}}:</span><br>
          <span>{{com.comment}}</span>
          <p class="text-right">{{com.timestamp}}</p>
        </div> -->
        <div class="form-group">
          <label for="comment">留言</label>
          <textarea class="form-control" rows="2" id="comment" ng-model="discuss.newComment"></textarea>
        </div>
        <button class="btn btn-success" ng-click="discuss.leaveComment()">送出</button>
      </div>
    </div>
    <div class="col-xs-3 col-sm-9 col-md-9 scrollable">
      <h1 class="padding-down" ng-show="!discuss.titleEditable">
        {{discuss.request.title}}
        <small ng-show="discuss.editable"><a href ng-click="discuss.onEditTitle()">
            <span class="glyphicon glyphicon-pencil"></span></a>
        </small>
      </h1>
      <form class="form-inline">
        <h1 class="padding-down" ng-show="discuss.titleEditable">
          團名：<input type="text" class="form-control" ng-model="discuss.request.title">
          <button class="btn btn-success">
            <!-- TODO: Add submit function here -->
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-danger" ng-click="discuss.offEditTitle()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </h1>
      </form>
      <h4 class="padding-down" ng-show="!discuss.peopleEditable">
        人數：{{discuss.request.people}}
        <small ng-show="discuss.editable"><a href ng-click="discuss.onEditPeople()">
            <span class="glyphicon glyphicon-pencil"></span></a>
        </small>
      </h4>
      <form class="form-inline">
        <h4 class="padding-down" ng-show="discuss.peopleEditable">
          人數：<input type="text" class="form-control" ng-model="discuss.request.people">
          <button class="btn btn-success">
            <!-- TODO: Add submit function here -->
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-danger" ng-click="discuss.offEditPeople()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </h4>
      </form>
      <h3 class="padding-down">飯店</h3>
      <table class="table">
        <tr>
          <th>日期</th>
          <th>飯店</th>
          <th>房型</th>
          <th>數量</th>
          <th ng-show="discuss.editable"></th>
        </tr>
        <tr ng-repeat="acco in discuss.request.accomodation">
          <td>{{acco.date}}</td>
          <td>{{acco.hotelName}}</td>
          <td>{{acco.roomTitle}}</td>
          <td>{{acco.quantity}}</td>
          <td ng-show="discuss.editable">
            <a href ng-click="discuss.editHotel(acco)">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            ｜
            <a href ng-click="discuss.deleteAccomodation(acco)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        <tr ng-show="discuss.editable">
          <td>
            <a href ui-sref="request.acco-list">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
