<div class="container">
  <div class="row">
    <h1 class="padding-down">需求列表</h1>
    <p>
      <button class="btn btn-success" ng-show="!requestsCtrl.editable" ng-click="requestsCtrl.createRequest()">新增</button>
    </p>
    <table class="table table-striped">
      <tr>
        <th>團名</th>
        <th>公司</th>
        <th>會社</th>
        <th>出發日期</th>
        <th>需求發起人</th>
        <th>建立日期</th>
      </tr>
      <tr ng-repeat="req in requestsCtrl.requests">
        <td><a ui-sref="request({requestId: '{{req.id}}'})">{{req.title}}</a></td>
        <td>{{req.region}}</td>
        <td></td>
        <td>{{req.startsOn}}</td>
        <td>{{req.creator.username}}</td>
        <td>{{req.createdAt}}</td>
      </tr>
    </table>
    <!-- <uib-pagination
      class="pagination-sm"
      total-items="orders.list.length"
      items-per-page="orders.pageSize"
      max-size="orders.maxSize"
      boundary-links="true"
      ng-model="orders.currentPage">
    </uib-pagination> -->
  </div>
</div>
