<div class="container">
  <div class="row">
    <h1 class="padding-down">需求列表</h1>
    <p>
      <button class="btn btn-success" ng-click='requests.createRequest()'>新增</button>
    </p>
    <table class="table table-striped">
      <tr>
        <th>需求編號</th>
        <th>需求發起人</th>
        <th>建立時間</th>
      </tr>
      <tr ng-repeat="req in requests.list">
        <td><a ui-sref="request({requestId: '{{req.requestId}}'})">{{req.requestId}}</a></td>
        <td>{{req.requester}}</td>
        <td>{{req.createTime}}</td>
      </tr>
    </table>
    <!-- <uib-pagination
      class="pagination-sm"
      total-items="orders.list.length"
      items-per-page="orders.pageSize"
      max-size="orders.maxSize"
      boundary-links="true"
      ng-model="orders.currentPage">
    </uib-pagination> -->
  </div>
</div>
