<div class="modal-header">
  <label>{{hotelCtrl.name}}</label>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h4 class="padding-down">飯店資訊</h4>
        早餐：{{hotelCtrl.breakfast}}<br>
        Extra Bed：{{hotelCtrl.extraBed}}
      </div>
      <div class="form-group" ng-show="!!hotelCtrl.fare">
        <h4 class="padding-down">價目表</h4>
        <table class="table git-table">
          <tr>
            <th>日期</th>
            <th>價錢</th>
          </tr>
          <tr ng-repeat="price in hotelCtrl.fare">
            <td>{{price.date}}</td>
            <td>{{price.err}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <form name="form" novalidate>
        <h4 class="padding-down">選擇房型、日期</h4>
        <div class="form-group">
          <label>房型選擇</label>
          <div class="radio" ng-repeat="room in hotelCtrl.rooms">
            <label>
              <input type="radio" ng-model="hotelCtrl.accommodation.roomId" value="{{room.id}}">
              {{room.type}}&nbsp;&nbsp;${{room.price}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="quantity">數量</label>
          <input type="text" class="form-control" ng-model="hotelCtrl.accommodation.quantity"
                 placeholder="請輸入數量">
        </div>
        <div class="form-group">
          <label for="start_date">入住日期</label>
          <div class="input-group">
            <input type="text" class="form-control"
            id="start_date" name="start_date"
            show-button-bar="false"
            uib-datepicker-popup="yyyy-MM-dd"
            ng-model="hotelCtrl.accommodation.checkinAt"
            max-date="hotelCtrl.timeOption.max"
            is-open="hotelCtrl.startOpened" close-text="Close" readonly>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
              ng-click="hotelCtrl.startOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="end_date">退房日期</label>
          <div class="input-group">
            <input type="text" class="form-control"
            id="end_date" name="end_date"
            show-button-bar="false"
            uib-datepicker-popup="yyyy-MM-dd"
            ng-model="hotelCtrl.accommodation.checkoutAt"
            max-date="hotelCtrl.timeOption.max"
            is-open="hotelCtrl.endOpened" close-text="Close" readonly>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
              ng-click="hotelCtrl.endOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <button class="btn btn-default" ng-click="hotelCtrl.checkPrice()">查看價錢</button><br>
        <small>*&nbsp;先選好房型、時間才能查看</small>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="hotelCtrl.cancel()">
    取消
  </button>
  <button class="btn btn-primary" ng-click="hotelCtrl.confirm()">
    確認
  </button>
</div>
