<div class="modal-header">
  <label>{{hotelCtrl.name}}</label>
</div>
<div class="modal-body">
  <div class="row" ng-show="hotelCtrl.isLoading">
    <div class="col-md-2 col-md-offset-5">
      <div class="loader"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>房間</h4>
      <div ng-repeat="room in hotelCtrl.selectedRooms">
        <h4>{{room.type}}&nbsp;x&nbsp;{{room.amount}}間</h4>
      </div>
      <div class="padding-down">
        <button class="btn btn-success" ng-show="!hotelCtrl.roomInputVisible" ng-click="hotelCtrl.showRoomInput()">
          <span class="glyphicon glyphicon-plus"></span> 新增訂房
        </button>
        <div class="form-group" ng-show="hotelCtrl.roomInputVisible">
          <label for="room">房型選擇</label>
          <form class="form-inline padding-down">
            <select name="room" class="form-control" ng-model="hotelCtrl.roomInput.room"
                    ng-options="room.type for room in hotelCtrl.rooms">
              <!--<option disabled selected value>請選擇房型</option>-->
              <!--<option ng-repeat="room in hotelCtrl.rooms" value="room">{{room.type}}</option>-->
            </select>
            <input type="text" class="form-control" ng-model="hotelCtrl.roomInput.amount" placeholder="請輸入數量">
          </form>
          <button class="btn btn-success" ng-click="hotelCtrl.submitRoom()">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-danger" ng-click="hotelCtrl.cancelAddRoom()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <h4 class="padding-down">其它項目</h4>
        <h5>早餐</h5>
        <div ng-repeat="item in hotelCtrl.breakfast">
          <span>{{item.label}}：$&nbsp;{{item.price}}&nbsp;{{item.note}}</span>
        </div>
        <h5>Extra Bed</h5>
        <div ng-repeat="item in hotelCtrl.extraBed">
          <span>$&nbsp;{{item.price}}（{{item.note}}）</span>
        </div>
      </div>
      <hr>
      <h4 class="padding-down">選擇日期</h4>
      <form name="hotelForm" novalidate>
        <div class="form-group">
          <label for="start_date">入住日期</label>
          <div class="input-group">
            <input type="text" class="form-control"
            id="start_date" name="start_date"
            show-button-bar="false"
            uib-datepicker-popup="yyyy-MM-dd"
            ng-model="hotelCtrl.accommodation.checkinAt"
            datepicker-options="hotelCtrl.timeOption"
            ng-change="hotelCtrl.changeDate(this)"
            is-open="hotelCtrl.startOpened" close-text="Close" readonly>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
              ng-click="hotelCtrl.startOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="end_date">退房日期</label>
          <div class="input-group">
            <input type="text" class="form-control"
            id="end_date" name="end_date"
            show-button-bar="false"
            uib-datepicker-popup="yyyy-MM-dd"
            ng-model="hotelCtrl.accommodation.checkoutAt"
            datepicker-options="hotelCtrl.timeOption"
            ng-change="hotelCtrl.changeDate(this)"
            is-open="hotelCtrl.endOpened" close-text="Close" readonly>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
              ng-click="hotelCtrl.endOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
          <div class="text-danger" ng-show="hotelForm.$error.date">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            開始日期要於結束日期之前
          </div>
        </div>
      </form>
      <!--<button class="btn btn-primary pull-right" ng-click="hotelCtrl.checkPrice()">輸入價錢</button><br>-->
      <!--<small>*&nbsp;先選好房型、時間才能查看</small>-->
      <!--<div class="form-group" ng-show="!!hotelCtrl.fare">
        <h4 class="padding-down">價目表</h4>
        <table class="table git-table">
          <tr>
            <th>日期</th>
            <th>價錢</th>
            <th>備註</th>
          </tr>
          <tr ng-repeat="fare in hotelCtrl.fare">
            <td>{{fare.date}}</td>
            <td>{{fare.price.p}}</td>
            <td>{{fare.err}}</td>
          </tr>
        </table>
      </div>-->
    </div>
    <div class="col-md-6">
      <h4>價錢</h4>
      <div ng-repeat="fare in hotelCtrl.fares">
        <h4>${{fare.price}}&nbsp;x&nbsp;{{fare.amount}}間</h4>
      </div>
      <button class="btn btn-success" ng-show="!hotelCtrl.fareInputVisible" ng-click="hotelCtrl.showFareInput()">
        <span class="glyphicon glyphicon-plus"></span> 新增價錢
      </button>
      <div ng-show="hotelCtrl.fareInputVisible">
        <form class="form-inline padding-down">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" ng-model="hotelCtrl.fareInput.price"
                   placeholder="請輸入價錢">
          </div>
          <input type="number" class="form-control" ng-model="hotelCtrl.fareInput.amount"
                 placeholder="請輸入數量">
        </form>
        <button class="btn btn-success" ng-click="hotelCtrl.submitFare()">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-danger" ng-click="hotelCtrl.cancelAddFare()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="hotelCtrl.cancel()">
    取消
  </button>
  <button class="btn btn-primary" ng-click="hotelCtrl.confirm()">
    確認
  </button>
</div>
