<div class="container">
  <div class="row">
    <h1 class="padding-down">需求列表</h1>
    <p>
      <button class="btn btn-default" ng-click='requestList.createRequest()'>新增</button>
    </p>
    <div class="col-md-6">
      <!-- <form class="form form-inline">
        <div class="form-group padding-down">
          <label for="search">搜尋</label>
          <input type="text" class="form-control" name="search"
                 placeholder="請輸入關鍵字" ng-model="orders.searchText">
        </div>
      </form> -->
    </div>
    <table class="table table-striped">
      <tr>
        <th>需求編號</th>
        <th>需求發起人</th>
        <th>建立時間</th>
      </tr>
      <tr ng-repeat="req in requestList.list">
        <td>{{req.requestId}}</td>
        <td>{{req.requester}}</td>
        <td>{{req.createTime}}</td>
      </tr>
    </table>
    <!-- <uib-pagination
      class="pagination-sm"
      total-items="orders.list.length"
      items-per-page="orders.pageSize"
      max-size="orders.maxSize"
      boundary-links="true"
      ng-model="orders.currentPage">
    </uib-pagination> -->
  </div>
</div>
