<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">新亞</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      <!-- Here you can see ui-sref in action again. Also notice the use of $state.includes, which
           will set the links to 'active' if, for example on the first link, 'contacts' or any of
           its descendant states are activated. -->
        <li ui-sref-active="active"><a ui-sref="requests" translate>Requests</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="navbar.isLoggedIn">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="badge">{{navbar.notifications.length}}</span>&nbsp;<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="noti in navbar.notifications">
              <a href>{{noti.message}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">語言&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ng-click="navbar.changeLang('tw')">{{ 'Chinese' | translate }}</a></li>
            <li><a href ng-click="navbar.changeLang('jp')">{{ 'Japanese' | translate }}</a></li>
          </ul>
        </li>
        <li><a><span class="glyphicon glyphicon-user"></span> {{navbar.userID}}</a></li>
        <li><a href ng-click="navbar.logout()"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
      </ul>
    </div>
  </div>
</div>
